/*-------------------BODY----------------------*/
body{
	font-family: Lucida Sans Unicode, Palatino Linotype, sans serif;
	font-size: 18px;
}

/*--------------------FOOTER----------------*/

.footer-div{
	font-size: 18px;
}

#time{
	font-size: 12px;
}